{% extends "_base.html" %}


{% block stylesheet %}"../static/css/mission_statement.css"{% endblock %}

{% block logo_path %}static/img/bull.png{% endblock %}
{% block social_media_path_patreon %}static/img/patreon_logo.png{% endblock %}
{% block social_media_path_twitter %}static/img/twitter_logo.png{% endblock %}
{% block social_media_path_tumblr %}static/img/tumblr_logo.png{% endblock %}
{% block social_media_path_github %}static/img/github_logo.png{% endblock %}

{% block title %}debateGate -- How to Win at Debating{% endblock %}


{% block content %}
<div id="paragraphs">
<p>
    A good discussion on the internet is a rare thing;
    "debates" in comment sections are closer to flame wars than discourse,
    mostly because of the lack of one of two things:

    <ol>
        <li> Earnest interest in engaging in debate (e.g. trolling) </li>
        <li> Lack of knowledge about what a good argument is and how to create one
            in a debate. </li>
    </ol>

    Ideally, voting would rectify the first issue just like it usually does on
    Reddit or Hacker News, and the design of debateGate attempts to curb the
    second issue as much as possible by simplifying the debate process.
</p>

<p>
    An argument is, when all the stylistic and conversational aspects are
    stripped away, a list of little lingustic constructs called
    <b>enthymemes</b>. An enthymeme is made up of two parts: the first is called
    a <b>thesis</b>, and the second is called the <b>justification</b>.
</p>

<p>
    An example of a thesis is this: <br>

    <h4>We should make ice cream free for all, because ice cream improves mental
        health.</h4>

    The first part, "We should make ice cream free," is the <b>thesis</b>. It is
    the thing that you believe -- the policy decision that you would like to see
    enacted. Theses come in all types, from "Billy is a moron" to "we
    should subsidize corn." Regardless of the silliness of the thesis, they
    all have <b>justifications</b> of some type. The support, in this case, is the part
    of the enthymeme that is found after the "because": "ice cream improves mental health."
</p>

<p>
    The reasoning in the justification must justify
    the cost of implementing/believing in the thesis. For instance, "deport all the
    poor" is not a good way to get rid of homelessness, even if deporting all
    the poor would technically do so, because the harmful effects of doing so
    outweigh the benefits.
</p>

<p>
    A good way to test if your enthymeme makes sense is to reverse the justification and
    the thesis. The above claim would become: "Because ice cream improves general
    mental health, we should make ice cream free." Sometimes you will be able
    so find mistakes or logical fallacies in your enthymeme this way.
</p>

<p>
    debateGate strips debate down to its bare minimum to enforce proper
    argument on people, so these rules are a great way to get started winning
    debates! Mastering the enthymeme and the rules that go along with the
    enthymeme will not only improve your debateGating, but will also help you in
    real life and elsewhere on the internet.
</p>

</div>

{% endblock %}

