{% extends "_base.html" %}

{% block logo_path %}static/img/bull.png{% endblock %}
{% block social_media_path_patreon %}static/img/patreon_logo.png{% endblock %}
{% block social_media_path_twitter %}static/img/twitter_logo.png{% endblock %}
{% block social_media_path_tumblr %}static/img/tumblr_logo.png{% endblock %}
{% block social_media_path_github %}static/img/github_logo.png{% endblock %}

{% block stylesheet %}"../static/css/mission_statement.css"{% endblock %}

{% block title %}debateGate -- Mission Statement{% endblock %}

{% block content %}
<div id="paragraphs">
<p>
    It is widely known to everyone who has ever surfed the internet that the
    discourse that the majority of people engage in is mostly toxic and of little value. That is not to say
    that there aren't specific exemptions to this rule -- most niche communities for video games,
    many smaller subreddits and forums, and other communities that haven't hit the critical mass
    necessary to incite the general population flooding in are tight-knit, welcoming, and helpful --
    but for every inspirational quote or helpful technical guide that a user posts on their outlet
    of choice, there are terabytes of garbage uploaded to YouTube, Facebook, Reddit, Hacker News,
    et. al.
</p>

<p>
    Many people are tempted to write this discourse off as useless trolling behavior by those who
    have little else to do than complain, hate, and inspire misery in the content creators of the
    web. One has to wonder, though, how much time these creators spend sifting through the n-th
    tweet about how horrible they are when they could be getting to the heart of the issue at hand,
    debating against someone who legitimately cares about the subject and who is willing to invest
    in having a useful correspondence with their opponent.
</p>

<p>
    I proposed in my <a href="https://github.com/dev-sebbot/debateGate-White-Paper/blob/master/On%20the%20Correction%20of%20Online%20Debate.pdf">2016 whitepaper</a>
    that the issue with online discourse is in <i>how</i> we interact with each other online.
    That is, that the way to passively curate online discourse, is in the way we talk to each other: typing on
    an unstructured, blank canvas.
</p>

<p>
    By adding a little bit of structure to our online discourse, I hope to form a community where
    people passively and almost unconciously curate their own discourse and form a higher level of
    communication where individuals with different opinions on otherwise unapproachable topics can
    debate. By doing this, and allowing the community to vote on who they think is most correct, I
    hope that this website can become an oasis in the proverbial <strike>dumpster fire</strike> desert of online discourse.
</p>

<p id="signature"> ~Sebastian Benjamin~ </p>
</div>

{% endblock %}

