{% extends "_base.html" %}

{% block logo_path %}static/img/bull.png{% endblock %}
{% block social_media_path_patreon %}static/img/patreon_logo.png{% endblock %}
{% block social_media_path_twitter %}static/img/twitter_logo.png{% endblock %}
{% block social_media_path_tumblr %}static/img/tumblr_logo.png{% endblock %}
{% block social_media_path_github %}static/img/github_logo.png{% endblock %}

{% block stylesheet %}"../static/css/mission_statement.css"{% endblock %}

{% block title %}debateGate -- Privacy Statement{% endblock %}

{% block content %}
<div id="paragraphs">
<p>
    debateGate.net isn't particularly interested in collecting your information.<br><br>
    Your account is your Google Account, and Google has its own privacy policy
    and terms/conditions and collects its own information, but we only store
    your email, real name (or, optionally, username), and a link to your current avatar in our database. Google Adsense is
    based off of user information that is all stored on Google's servers, so our
    ads are also based off of Google's privacy policy. debateGate.net is
    currently not usable without a Google Account.
</p>

<p>
    The only other user information we gather is via Google Analytics, to track views/bounce rate and the like.
</p>

<p>
    We do not send spam email -- all emails we send should be related to various
    debate events, like when someone joins your debate. These can be turned off,
    if you wish, in the settings menu.
</p>

</div>

{% endblock %}

